<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A list of Actors in our database</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>

  <form action="/actors" method="get">
  <input type="search" name="actor_query">
  <input type="submit" value="Search">
</form>
<br>

  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

    <%@result.each do |actor|%>
        <tr>
          <td><a href="/actors/<%=actor["name"]%>"><%= actor["name"]%></a></td>
          <td><%= actor["character"]%></td>

        </tr>
      <% end %>

    </tbody>
  </table>

  </body>
</html>

